.galleryDiv {
  grid-template-areas: "left right";
  text-align: center;
  color: white;
}

.titleshadow {
  text-shadow: -4px 3px #8e8e8e;
}

.mainBody {
  background: #e1e1e1;
  color: black;
}

.gridTitle{
  font-size: 90px; 
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: Aquire;
  text-shadow: -4px 3px 3px #06ce77;
  padding-bottom: 15px;
}

.gridCaption{
  font-size: 25px;
  margin: 0;
  padding: 0;
  
}

.gridImages{
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: center;
  justify-content: center;
  padding: 45px;
  padding-top: 35px;
  gap: 20px;
}

.gridImage{
  width: 450px;
  height: 300px;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
}


.gridImage:hover{
  
  box-shadow: 6px 5px 3px 0px #06ce77;
-webkit-transform: translateX(-6px);
transform: translateX(-6px);
transition: .5s ease;

  
}

@media (min-width: 600px) {
  .gridImages { grid-template-columns: repeat(300px, 1fr); }
}




